html {
 box-sizing: border-box;
 min-width:  100%;
 min-height: 90%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
 font: 300 14px 'Helvetica Neue', Helvetica;
 width: 100%;
}

.container {
  border:     3px solid black;
  margin:     2% auto; 
  max-width:  90%;
}

.content {
  display: grid; 
  grid-template-columns: repeat(4, minmax(0, 1fr) );
  //grid-template-rows:    repeat(12, minmax(0, 6.7vh));
  grid-template-rows:    repeat(12, minmax(0, 0.112fr));
  grid-gap: 0;
  width:   100%;  
}

.graph{
  border-bottom: 3px dashed black;
  grid-column:   1/5; 
  grid-row:      1/8;
  height: 100%;
}

.calc {
  grid-column: 1/3;
  grid-row: 8;
  padding-left: 5%;
  align-self: start;
}

.calc__display {
 grid-column: 1/3;
 text-align: center;
 border: 1px solid #000;
 width: 100%;
 padding-top: 5%;
 padding-bottom: 5%;
 min-height: 25px;
 font-size: 1.5rem;
 align-self: start;
}

.calc__keys {
 display: grid;
 grid-template-columns: repeat(5, 0.5fr);
 grid-template-rows: repeat(4, minmax(0, 0.9fr));
 grid-gap: 2%;
 font-size: 1.5rem;
}

.key {
 font-weight: bolder;
 border-radius: 5px;
}

.key--minus{
 grid-column: 4; 
}

.key--divide{
 grid-column: 5; 
}

.key--add {
 grid-column: 4; 
 grid-row: 2/4; 

}

.key--multiply {
 grid-column: 5; 
 grid-row: 2/4; 
}

.key--equals {
 grid-column: 3/5; 
 grid-row: 4; 
}

.key--ce {
 grid-column: 5; 
}

.extendedState {
 border-left: 2px dashed black;
 grid-column: 3/5; 
 grid-row:    8/13;
 height: 90%;
 margin-left: 6%;
 align-self: center;
}


table {
 height: 100%;
}

th {
 text-align: right;
 padding-left: 5%;
 width: 20%;
}

td {
 font-size:   1rem; 
 padding-left: 8%;
 width: 80%;
}

.node rect {
  stroke: #333;
  fill: #fff;
}

.edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 3px;
}

.active {
  stroke: red!important; 
}

