<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <!-- prevent favicon request -->
    <link href="data:;base64,iVBORw0KGgo=" rel="icon" />
    <title>Drum Machine</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="content">
      <div class="container-fluid h-100">
        <div class="row h-100">
          <div class="col-9">
            <svg id="svgGraph" class="graph"><g></g></svg>
          </div>         <!-- col-9 --> 
          <div class="col-3">
            <div id="drum-machine">
              <div id="display"> </div>
              <div class="pad">
                <button class="drum-pad"> <audio src="">Q</audio> </button>
                <button class="drum-pad"><audio src="">W</audio></button>
                <button class="drum-pad"><audio src="">E</audio></button>
                <button class="drum-pad"><audio src="">A</audio></button>
                <button class="drum-pad"><audio src="">S</audio></button>
                <button class="drum-pad"><audio src="">D</audio></button>
                <button class="drum-pad"><audio src="">Z</audio></button>
                <button class="drum-pad"><audio src="">X</audio></button>
                <button class="drum-pad"><audio src="">C</audio></button>
              </div> 
            </div>
          </div>        <!-- col-3 --> 
        </div>       <!-- row --> 
      </div>     <!-- container-fluid -->  
    </div>    <!-- content -->  
      <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
  <script src="js/xstate.js"></script> 
  <script src="js/d3.v5.min.js"></script>
  <script src="js/dagre-d3.min.js"></script>
  <script src="js/grammarXstate.js"></script>
  <script src="js/grammarDagreD3.js"></script>
  <script src="js/utils.js"></script>
  <script>

/**
 *
 *                      SETUP
 *
 *
 **/

   const { Machine,  interpret, assign } = XState;
   const input = {
     // input: {type: type, payload: data}
   };


/**
 *                                  EVENTS
 *
 **/

   // elem.addEventListener('click',   () => templateMachineService.send(input.event    ));


   

/**
 *
 *                                   FINITE STATE  MACHINE
 *
 *
 **/


  const options = {
    actions: {},
    services: {}
   };



   const stateTransitionTable =
`
id: someid
*A t B
 B t C
 C t D
 D t E
 E t A 
`;

   
/**
 *
 *                                  GRAPH
 *
 *
 **/


let templateGraphConf =  createGraphConf('svgGraph', stateTransitionTable, "LR", 1, 1);
const g = createGraph(templateGraphConf);

renderGraph(g.g, g.data); 
 
  
/**
 *
 *      MAIN
 *
 **/

   const templateMachineConf      = createMachineConf(stateTransitionTable);
   const templateMachine          = Machine(templateMachineConf,options);

   const templateMachineService   = interpret(templateMachine)
        .onTransition(state => {
          showFn(state,g.g);
        }
    );


   
 templateMachineService.start();

  </script>
</body>
</html>
