
body {
		background-color: #cdcfd1;
}


//  https://codepen.io/Tyler_Potts_/pen/wvBbQqQ
.image-wrap {
  // max-width: 100%; 
  //margin: 50px auto;
	height: 25vh!important;
}

.image {
  width: 100%;
  padding-top: calc(100% / (16/9));
  background-image: url('../img/graph.png');
  //background-size: 100%;
//	background-size: contain;
  background-size: cover; 
  background-position: left;  
  background-repeat: no-repeat;
}

.image:hover {
  background-size: 200%;
}

//  https://codepen.io/Tyler_Potts_/pen/wvBbQqQ


.nav-tabs {
}

.nav-item {
		background-color: #b9b3b3;
		border: 2px solid gray; 
		border-radius: 10px 10px 0px 0px ;
}

.nav-link {
		font-size: x-large;
		color: white;
		font-weight: bolder;
}

a.nav-link.active {
		background-color:#dfdfdf!important;
}

.content {
		margin: 1% auto;
		//height: 600px;
}

.dsl-title {
		margin-top: 3%;
		color: white;
}

.dsl{
		width: 100%;
		height: 40vh;
		font-size: 16px; 
		border: 1px solid black;
		background-color: #000;
		border-radius: 0px 10px 10px 10px ;

}

.actions {
		width: 100%;
		height: 40vh;
}

.initial-state {
		color: yellow;
}

.state {
		color: gold;
}

.input {
		color: white;
}

