html {
 width: 100%;
 height: 100%;
}

body {
 font: 300 14px 'Helvetica Neue', Helvetica;
 height: 100%;
 overflow-y: hidden;
}
.content {
 border: 1px solid white;
 margin: 5% auto;
 height: 90%;
}

.graph {
 border: 1px solid white;
 height: 100%;
 width: 100%;
}

.node rect {
  stroke: #333;
  fill: #fff;
}

.edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 3px;
}

.active {
  stroke: red!important; 
}

